body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
    color: white;
    font-family: cursive;
}

.mouse-event{
    border: solid 1px lightgray;
    margin: 40px;
    min-width: 180px;
    min-height: 100px;
    position: relative;
    display: flex;
}

.mouse-event h4{
    position: absolute;
    top: -50px;

}

@media (max-width:500px){
    .container{
        flex-direction: column;
    }
}